<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.vn.ecm/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.vn.ecm.view.user/UserListView.title"/>
        <item view="EcmView" title="msg://com.vn.ecm.view.ecm/ecmView.title"/>

    </menu>

</menu-config>