USE [master]
GO
/****** Object:  Database [ECM_DB]    Script Date: 10/8/2025 11:22:06 AM ******/
CREATE DATABASE [ECM_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECM_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ECM_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECM_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ECM_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECM_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECM_DB]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOG]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOG](
	[ID] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[DATEEXECUTED] [datetime2](3) NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [nvarchar](10) NOT NULL,
	[MD5SUM] [nvarchar](35) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[TAG] [nvarchar](255) NULL,
	[LIQUIBASE] [nvarchar](20) NULL,
	[CONTEXTS] [nvarchar](255) NULL,
	[LABELS] [nvarchar](255) NULL,
	[DEPLOYMENT_ID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATABASECHANGELOGLOCK]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](3) NULL,
	[LOCKEDBY] [nvarchar](255) NULL,
 CONSTRAINT [PK_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File_]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_](
	[ID] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[extension] [varchar](255) NULL,
	[lastModified] [datetime] NULL,
	[folder_ID] [uniqueidentifier] NULL,
	[SIZE] [bigint] NULL,
	[FILE_REF] [varchar](255) NULL,
 CONSTRAINT [PK_FILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLOWUI_FILTER_CONFIGURATION]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLOWUI_FILTER_CONFIGURATION](
	[ID] [uniqueidentifier] NOT NULL,
	[COMPONENT_ID] [varchar](255) NOT NULL,
	[CONFIGURATION_ID] [varchar](255) NOT NULL,
	[USERNAME] [varchar](255) NULL,
	[ROOT_CONDITION] [varchar](max) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[NAME] [varchar](255) NULL,
	[DEFAULT_FOR_ALL] [bit] NULL,
 CONSTRAINT [PK_FLOWUI_FILTER_CONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLOWUI_USER_SETTINGS]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLOWUI_USER_SETTINGS](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](255) NULL,
	[USERNAME] [varchar](255) NULL,
	[KEY_] [varchar](255) NULL,
	[VALUE_] [varchar](max) NULL,
 CONSTRAINT [PK_FLOWUI_USER_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLDER]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLDER](
	[ID] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[parent_ID] [uniqueidentifier] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_FOLDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persistent_logins]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persistent_logins](
	[series] [varchar](64) NOT NULL,
	[username] [varchar](64) NOT NULL,
	[token] [varchar](64) NOT NULL,
	[last_used] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PERSISTENT_LOGINS] PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_RESOURCE_POLICY]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_RESOURCE_POLICY](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[TYPE_] [varchar](255) NOT NULL,
	[POLICY_GROUP] [varchar](255) NULL,
	[RESOURCE_] [varchar](1000) NOT NULL,
	[ACTION_] [varchar](255) NOT NULL,
	[EFFECT] [varchar](255) NOT NULL,
	[ROLE_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SEC_RESOURCE_POLICY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_RESOURCE_ROLE]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_RESOURCE_ROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NAME] [varchar](255) NOT NULL,
	[CODE] [varchar](255) NOT NULL,
	[CHILD_ROLES] [varchar](max) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[SCOPES] [varchar](1000) NULL,
 CONSTRAINT [PK_SEC_RESOURCE_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ROLE_ASSIGNMENT]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ROLE_ASSIGNMENT](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[USERNAME] [varchar](255) NOT NULL,
	[ROLE_CODE] [varchar](255) NOT NULL,
	[ROLE_TYPE] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SEC_ROLE_ASSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ROW_LEVEL_POLICY]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ROW_LEVEL_POLICY](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[TYPE_] [varchar](255) NOT NULL,
	[ACTION_] [varchar](255) NOT NULL,
	[ENTITY_NAME] [varchar](255) NOT NULL,
	[WHERE_CLAUSE] [varchar](max) NULL,
	[JOIN_CLAUSE] [varchar](max) NULL,
	[SCRIPT_] [varchar](max) NULL,
	[ROLE_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SEC_ROW_LEVEL_POLICY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ROW_LEVEL_ROLE]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ROW_LEVEL_ROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NAME] [varchar](255) NOT NULL,
	[CODE] [varchar](255) NOT NULL,
	[CHILD_ROLES] [varchar](max) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[DESCRIPTION] [varchar](max) NULL,
 CONSTRAINT [PK_SEC_ROW_LEVEL_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_USER_SUBSTITUTION]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_USER_SUBSTITUTION](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[USERNAME] [varchar](255) NOT NULL,
	[SUBSTITUTED_USERNAME] [varchar](255) NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
 CONSTRAINT [PK_SEC_USER_SUBSTITUTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [varchar](255) NULL,
	[TYPE_] [varchar](255) NULL,
	[CODE] [varchar](100) NULL,
	[CREATED_BY] [varchar](255) NULL,
	[CREATED_DATE] [datetimeoffset](7) NULL,
	[LAST_MODIFIED_BY] [varchar](255) NULL,
	[LAST_MODIFIED_DATE] [datetimeoffset](7) NULL,
	[DELETED_BY] [varchar](255) NULL,
	[DELETED_DATE] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_STORAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_]    Script Date: 10/8/2025 11:22:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[USERNAME] [varchar](255) NOT NULL,
	[FIRST_NAME] [varchar](255) NULL,
	[LAST_NAME] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[ACTIVE] [bit] NULL,
	[TIME_ZONE_ID] [varchar](255) NULL,
 CONSTRAINT [PK_USER_] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'1', N'flowui-data', N'io/jmix/flowuidata/liquibase/changelog/001-flowui-data.xml', CAST(N'2025-10-04T11:35:41.5970000' AS DateTime2), 1, N'EXECUTED', N'9:324669760cb7b5fd957862395815b17f', N'createTable tableName=FLOWUI_FILTER_CONFIGURATION', N'', NULL, N'4.31.1', NULL, NULL, N'9552539981')
INSERT [dbo].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS], [DEPLOYMENT_ID]) VALUES (N'2', N'flowui-data', N'io/jmix/flowuidata/liquibase/changelog/001-flowui-data.xml', CAST(N'2025-10-04T11:35:41.6100000' AS DateTime2), 2, N'EXECUTED', N'9:1c62775191bad1cb40e9e1b56dbefb0e', N'addColumn tableName=FLOWUI_FILTER_CONFIGURATION', N'', NULL, N'4.31.1', NULL, NULL, N'9552539981')
GO
INSERT [dbo].[DATABASECHANGELOGLOCK] ([ID], [LOCKED], [LOCKGRANTED], [LOCKEDBY]) VALUES (1, 0, NULL, NULL)
GO
INSERT [dbo].[File_] ([ID], [name], [extension], [lastModified], [folder_ID], [SIZE], [FILE_REF]) VALUES (N'273287ea-73f0-4006-97c1-02ed1d00d56c', N'Test 1', N'txt', CAST(N'2025-10-05T21:07:44.903' AS DateTime), N'1513d270-bdd6-4817-98d4-00a8b49b8674', 1024, NULL)
INSERT [dbo].[File_] ([ID], [name], [extension], [lastModified], [folder_ID], [SIZE], [FILE_REF]) VALUES (N'a4b8a29a-2a99-4653-a316-3146907fa218', N'Test 3', N'xlsx', CAST(N'2025-10-05T21:07:44.903' AS DateTime), N'1513d270-bdd6-4817-98d4-00a8b49b8674', 5120, NULL)
INSERT [dbo].[File_] ([ID], [name], [extension], [lastModified], [folder_ID], [SIZE], [FILE_REF]) VALUES (N'b8f36d63-2153-4682-988a-3bb259b9cfe8', N'Test 5', N'pdf', CAST(N'2025-10-05T21:07:44.903' AS DateTime), N'8acbfcfe-8c45-49a9-aedb-dea2f4f7722c', 4096, NULL)
GO
INSERT [dbo].[FOLDER] ([ID], [name], [parent_ID], [createdDate]) VALUES (N'1513d270-bdd6-4817-98d4-00a8b49b8674', N'Documents', NULL, CAST(N'2025-10-04T12:21:26.427' AS DateTime))
INSERT [dbo].[FOLDER] ([ID], [name], [parent_ID], [createdDate]) VALUES (N'8acbfcfe-8c45-49a9-aedb-dea2f4f7722c', N'Pictures', N'1513d270-bdd6-4817-98d4-00a8b49b8674', CAST(N'2025-10-04T12:21:26.427' AS DateTime))
INSERT [dbo].[FOLDER] ([ID], [name], [parent_ID], [createdDate]) VALUES (N'e382df47-7119-45b9-8a98-e9c4c240de08', N'Music', NULL, CAST(N'2025-10-04T12:21:26.427' AS DateTime))
GO
INSERT [dbo].[SEC_ROLE_ASSIGNMENT] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [USERNAME], [ROLE_CODE], [ROLE_TYPE]) VALUES (N'6c9e420a-2b7a-4c42-8654-a9027ee14083', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'admin', N'system-full-access', N'resource')
GO
INSERT [dbo].[USER_] ([ID], [VERSION], [USERNAME], [FIRST_NAME], [LAST_NAME], [PASSWORD], [EMAIL], [ACTIVE], [TIME_ZONE_ID]) VALUES (N'60885987-1b61-4247-94c7-dff348347f93', 1, N'admin', NULL, NULL, N'{noop}admin', NULL, 1, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_RESOURCE_ROLE_UN_C]    Script Date: 10/8/2025 11:22:06 AM ******/
CREATE NONCLUSTERED INDEX [IDX_RESOURCE_ROLE_UN_C] ON [dbo].[SEC_RESOURCE_ROLE]
(
	[CODE] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ROW_LEVEL_ROLE_UN_C]    Script Date: 10/8/2025 11:22:06 AM ******/
CREATE NONCLUSTERED INDEX [IDX_ROW_LEVEL_ROLE_UN_C] ON [dbo].[SEC_ROW_LEVEL_ROLE]
(
	[CODE] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_USER__ON_USERNAME]    Script Date: 10/8/2025 11:22:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_USER__ON_USERNAME] ON [dbo].[USER_]
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SEC_RESOURCE_POLICY] ADD  CONSTRAINT [DF_SEC_RESOURCE_POLICY_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_RESOURCE_ROLE] ADD  CONSTRAINT [DF_SEC_RESOURCE_ROLE_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_ROLE_ASSIGNMENT] ADD  CONSTRAINT [DF_SEC_ROLE_ASSIGNMENT_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_ROW_LEVEL_POLICY] ADD  CONSTRAINT [DF_SEC_ROW_LEVEL_POLICY_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_ROW_LEVEL_ROLE] ADD  CONSTRAINT [DF_SEC_ROW_LEVEL_ROLE_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION] ADD  CONSTRAINT [DF_SEC_USER_SUBSTITUTION_VERSION]  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[File_]  WITH CHECK ADD  CONSTRAINT [FK_FILE_ON_FOLDER] FOREIGN KEY([folder_ID])
REFERENCES [dbo].[FOLDER] ([ID])
GO
ALTER TABLE [dbo].[File_] CHECK CONSTRAINT [FK_FILE_ON_FOLDER]
GO
ALTER TABLE [dbo].[FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_FOLDER_ON_PARENT] FOREIGN KEY([parent_ID])
REFERENCES [dbo].[FOLDER] ([ID])
GO
ALTER TABLE [dbo].[FOLDER] CHECK CONSTRAINT [FK_FOLDER_ON_PARENT]
GO
ALTER TABLE [dbo].[SEC_RESOURCE_POLICY]  WITH CHECK ADD  CONSTRAINT [FK_RES_POLICY_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[SEC_RESOURCE_ROLE] ([ID])
GO
ALTER TABLE [dbo].[SEC_RESOURCE_POLICY] CHECK CONSTRAINT [FK_RES_POLICY_ROLE]
GO
ALTER TABLE [dbo].[SEC_ROW_LEVEL_POLICY]  WITH CHECK ADD  CONSTRAINT [FK_ROW_LEVEL_POLICY_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[SEC_ROW_LEVEL_ROLE] ([ID])
GO
ALTER TABLE [dbo].[SEC_ROW_LEVEL_POLICY] CHECK CONSTRAINT [FK_ROW_LEVEL_POLICY_ROLE]
GO
USE [master]
GO
